<html>
<head>
  <title>Aurum - Data Discovery at Scale</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>

  <div class="jumbotron">
    <div id="main" class="container text-center">
      <h1>Aurum</h1>
      <h2>Data Discovery at Scale</h2>

      <br>

      <div id="message">
        <noscript>
          <p>You'll need JavaScript enabled to use this site!</p>
        </noscript>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>    
      </div>

      <br>

      <form method="post">
        <p class="g-recaptcha text-center" style="display: inline-block" data-sitekey="{{recaptcha_key}}"></p>
        <p>
          <input type="submit" class="btn btn-lg btn-primary" name="submit" value="Try Demo" />
        </p>
      </form>

    </div>
  </div>
</body>
</html>
